{% extends 'rango/base.html' %}
{% load staticfiles %}

 {% block title_block %}
     About
 {% endblock %}

 {% block body_block %}
 <h1>About:</h1>
 <div>
   This page has been put together by Emily. <br />
   <p>visits: {{ visits }}</p>
   <strong>{{ aboutmessage }} </strong><br />
 </div>
 <div>
   <img src="{{ MEDIA_URL}}cat.jpg" />

 </div>
 {% endblock %}
