{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <h1>Rango says...</h1>
  <div>
    {% if user.is_authenticated %}
      howdy {{ user.username }}!
    {% else %}
      hey there partner!
    {% endif %}
    <p>visits: {{ visits }}</p>
  </div>

  <h2>Most Liked Categories</h2>
  <div>
  {% if categories %}
  <ul>
      {% for category in categories %}
      <li>
      <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
      </li>
      {% endfor %}
  </ul>
  {% else %}
    <strong>There are no categories present.</strong>
  {% endif %}
  </div>

  <h2>Most Viewed Pages</h2>
  <div>
  {% if pages %}
  <ul>
      {% for page in pages %}
      <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endfor %}
  </ul>
  {% else %}
    <strong>There are no pages present.</strong>
  {% endif %}
  </div>
  <div>
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
  </div>
{% endblock %}
