{% extends 'rango/base.html' %}
{% load staticfiles %}

 {% block title_block %}
     Restricted
 {% endblock %}

 {% block body_block %}
 <h1>Restricted:</h1>
 <div>
   Since you're logged in, you can see this text!
 </div> 
 {% endblock %}
